<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">


        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">


        <script src="../static/scripts/gauge.min.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <div class="main-container">
            <nav class="navbar" >
            <ul>
                <li><a>{{ city }}</a></li>
                <li><a>{{ weather }}</a></li>
                <li>
                    <form class="zip_form" name="zip_search" method="POST">
                        {{ form.hidden_tag() }}
                        Search Zip:
                        {{ form.zip(size=5) }}
                    </form>
                </li>
                <li><a href="#" id="f_btn" onclick="convertUnits('f')" class={{ f_class }}>&deg;F</a>
                    <a href="#" id="c_btn" onclick="convertUnits('c')" class="{{ c_class }}">&deg;C</a></li>
            </ul>
        </nav>
        <div class="content">
            <img src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-830211144972/Images/logo_black_trans.png" class="logo">

                <p id="date" class="date"></p>
                <p id="time" class="time"></p>
                <script>
                    var offset = {{ timezone }};
                    var d = new Date();
                    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                    var date = document.getElementById("date");
                    var time = document.getElementById("time");

                    function getDate() {
                        date.innerHTML = monthNames[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
                    }

                    function timer() {
                        setTimeout(timer, 1000);
                        var d1 = new Date();
                        if (offset != -1) {
                            var d = new Date(d1.getUTCFullYear(), d1.getUTCMonth(), d1.getUTCDate(), d1.getUTCHours(), d1.getUTCMinutes(), d1.getUTCSeconds())
                            var hours = d.getHours()+offset;
                        } else {
                            d = d1;
                            hours = d.getHours();
                        }
                        var minutes = d.getMinutes();
                        var ampm = hours <= 11 ? 'am' : 'pm';
                        time.innerHTML = [hours % 12,
                                    (minutes < 10 ? "0" + minutes : minutes)
                                ].join(':') + ampm;
                        setTimeout(timer, 10000);
                    }

                    getDate();
                    timer();
                </script>

                <div id="gauge-container">
                    <div id="temp-container" class="radial-shadow" style="float: left;">
                        <canvas id="temperature"></canvas>
                        <h1 style="text-align: center; color: #f0eceb" id="temp-text" class="radial-shadow">{{ temp }}&deg;{{ unit }}</h1>
                        <p style="text-align: center; color: #f0eceb; font-size: 150%;" class="radial-shadow">Temp</p>
                    </div>

                    <div id="humidity-container" class="radial-shadow" style="float: left">
                        <canvas id="humidity"></canvas>
                        <h1 style="text-align: center; color: #f0eceb;" class="radial-shadow">{{ humidity }}%</h1>
                        <p style="text-align: center; color: #f0eceb; font-size: 150%" class="radial-shadow">Humidity</p>
                    </div>

                    <div id="pressure-container" class="radial-shadow" style="float: left">
                        <canvas id="pressure"></canvas>
                        <h1 style="text-align: center; color: #f0eceb" class="radial-shadow">{{ pressure }} mB</h1>
                        <p style="text-align: center; color: #f0eceb; font-size: 150%;" class="radial-shadow">Pressure</p>
                    </div>

                </div>


                <script>


                    var opts = {
                        lines: 20, // The number of lines to draw
                        angle: 0, // The length of each line
                        lineWidth: 0.09, // The line thickness
                        pointer: {
                            length: 1, // The radius of the inner circle
                            strokeWidth: 0.05, // The rotation offset
                            color: '#f0eceb' // Fill color
                        },
                        limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
                        fontSize: 100,
                        colorStart: '#f0eceb',   // Colors
                        colorStop: '#f0eceb',    // just experiment with them
                        strokeColor: '#f0eceb;',   // to see which ones work best for you
                        generateGradient: true
                    };

                    var temperature_target = document.getElementById('temperature'); // your canvas element
                    temperature_target.width = 200;
                    temperature_target.height = 100;
                    var temperature_gauge = new Gauge(temperature_target).setOptions(opts); // create sexy gauge!
                    temperature_gauge.animationSpeed = 100; // set animation speed (32 is default value)
                    if ('{{ unit }}' == 'F') {
                        temperature_gauge.maxValue = 220; // set max gauge value
                        temperature_gauge.set({{ temp }} + 80); // set actual value
                    }
                    else {
                        temperature_gauge.maxValue = 104; // set max gauge value
                        temperature_gauge.set({{ temp }} + 47); // set actual value
                    }

                    var humidity_target = document.getElementById('humidity'); // your canvas element
                    humidity_target.width = 200;
                    humidity_target.height = 100;
                    var humidity_gauge = new Gauge(humidity_target).setOptions(opts); // create sexy gauge!
                    humidity_gauge.maxValue = 100; // set max gauge value
                    humidity_gauge.animationSpeed = 100; // set animation speed (32 is default value)
                    humidity_gauge.set({{ humidity }}); // set actual value

                    var pressure_target = document.getElementById('pressure'); // your canvas element
                    pressure_target.width = 200;
                    pressure_target.height = 100;
                    var pressure_gauge = new Gauge(pressure_target).setOptions(opts); // create sexy gauge!
                    pressure_gauge.maxValue = 80; // set max gauge value
                    pressure_gauge.animationSpeed = 100; // set animation speed (32 is default value)
                    pressure_gauge.set({{ pressure }}-970); // set actual value




                </script>


        </div><!-- /content -->

        </div>




        {% if default %}
            <img src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-830211144972/Images/default.webp" class="bg">
        {% else %}
            <video id="my-video" class="video" muted loop>
                <source src="{{ video }}" type="video/webm">
            </video><!-- /video -->
        {% endif %}



        <!-- Gauge -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            function convertUnits(unit) {
                if (unit == 'f') {
                    //convert from c to f
                    if (document.getElementById("temp-text").innerHTML.includes("C")) {
                        var temp = parseInt(document.getElementById("temp-text").innerHTML.replace(/\D/g, ''));
                        document.getElementById("temp-text").innerHTML = Math.round((temp * (9 / 5)) + 32) + "&deg;F";
                        document.getElementById("f_btn").className = "active";
                        document.getElementById("c_btn").className = "";
                        createCookie('unit', 'fahrenheit');
                    }

                } else {
                    //convert from f to c
                    if (document.getElementById("temp-text").innerHTML.includes("F")) {
                        temp = parseInt(document.getElementById("temp-text").innerHTML.replace(/\D/g, ''));
                        document.getElementById("temp-text").innerHTML = Math.round(((temp - 32) * (5/9))) + "&deg;C";
                        document.getElementById("c_btn").className = "active";
                        document.getElementById("f_btn").className = "";
                        createCookie('unit', 'celsius');
                    }

                }
            }
            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                }
                else var expires = "";
                document.cookie = name + "=" + value + expires + "; path=/";
            }

            (function() {
                /**
                 * Video element
                 * @type {HTMLElement}
                 */
                var video = document.getElementById("my-video");

                /**
                 * Check if video can play, and play it
                 */
                video.addEventListener( "canplay", function() {
                    video.play();
                });
            })();
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
